__pycache__/
.venv/

.env
*.pem
*.key
*.crt

backend/keys/*

logs/
temp/

backend/migration/versions/*.pyc

.vscode/
.idea/
.DS_Store
Thumbs.db

frontend/node_modules
frontend/coverage
frontend/build

frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
